.carousel-wrap {
  width: 300px;
}

.carousel-item {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  background: linear-gradient(90deg, #344cb7, #111156);
}
