html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Microsoft Yahei, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  font-size: 16px;
}

body {
  -webkit-text-size-adjust: none;
  margin: 0;
}

@font-face {
  font-family: 'ssdingdang';
  src: url('https://unpkg.yy.com/friendupload/1675064/ssdingdang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

code {
  display: inline-block;
  background-color: hsla(0, 0%, 0%, 0.06);
  padding: 8px;
  line-height: 1.6;
  white-space: pre-line;
  color: #333;
  border-radius: 4px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  > li {
    margin: 10px;
  }

  a {
    color: #3685ff;
    text-decoration: none;

    &.active {
      color: #f44336;
    }
  }
}

#svg {
  border: 1px solid hsla(0, 0%, 0%, 0.5);

  line {
    shape-rendering: crispEdges;
  }
}

.hooks-list-ul {
  border: 1px solid #ccc;
  width: 200px;
  height: 150px;
  overflow: hidden;
  overflow-y: auto;
}

.testtext {
  display: inline-block;
  //border: 20px solid transparent;
  padding: 10px 20px 10px 10px;
  border-image-source: url(https://peiwan.bs2dl.yy.com/77bcd5f8a2ce405f88e5c18a4e5667b8.png);
  border-image-slice: 20 fill;
  border-image-width: auto;
  font-size: 14px;
  color: #fff;
}

.testtext1 {
  display: inline-block;
  padding: 10px;
  border-image-source: url(https://peiwan.bs2dl.yy.com/c34ddd0434c642d494843162cf4dbc0e.png);
  border-image-slice: 44 fill;
  border-image-width: auto;
  font-size: 14px;
  color: #fff;
}

.testtext2 {
  min-height: 126px;
  min-width: 186px;
  box-sizing: border-box;
  display: inline-block;
  padding: 50px 80px 40px 50px;
  border-image-source: url(https://peiwan.bs2dl.yy.com/f486d2577c1244a7bd9293f274344f7c.png);
  border-image-slice: 60 80 63 60 fill;
  border-image-width: auto;
  border-image-repeat: repeat;
  font-size: 14px;
  color: #fff;
}

.bg_f00 {
  background-color: #f00;
}

.bg_f00:hover {
  background-color: #f00;
}

.bg_ff0 {
  background-color: #ff0;
}

.bg_ff0:hover {
  background-color: #ff0;
}

.bg_f00 {
  background-color: #f00;
}

.bg_f00:hover {
  background-color: #f00;
}

.bg_ff0 {
  background-color: #ff0;
}

.bg_ff0:hover {
  background-color: #ff0;
}

@keyframes flash-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.anime-flash-opacity {
  animation: flash-opacity 0.3s ease-in infinite;
}
