.tooltip-demo {
}
.placement-group {
  button {
    margin-right: 10px;
  }
}
.inner-scroll {
  width: 200px;
  height: 100px;
  overflow: scroll;
  margin: 20px 0 0 0;
  border: 1px solid #ccc;
  padding: 8px;
}
