@use "sass:color";

.module {
}
.editor {
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  white-space: pre-wrap;

  &:focus {
    border: 1px solid #3685ff;
    outline: none;
  }

  &::selection {
    background: red;
    color: #fff;

    //border: 1px solid blue;
  }
}

.editorDrag {
  box-shadow: inset 0 0 5px red;
}

.preview {
  border-left: 2px solid opacify(#000, 0.6);
  padding-left: 8px;
  white-space: pre-wrap;
  color: #666;
}

.insertImg {
  //outline: 1px solid blue;
  vertical-align: text-bottom;
  cursor: default;

  &:active {
    outline: 1px solid yellow;
  }
  &:target {
    outline: 1px solid yellow;
  }

  &:focus {
    outline: 1px solid #333;
  }

  &::selection {
    outline: 1px solid red;
  }
}
.insertSpan {
  position: relative;
  outline: 1px solid #588b1c;
  cursor: default;
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: default;
  }

  &::selection {
    background-color: bisque;
  }
}

.btnGroup {
  button {
    margin: 5px;
  }
}
